export GCP_PROJECT_ID="cs-poc-gvosjaln9q6gcudiayjqdzq"
export GCP_REGION="us-east4"
export EMBEDDING_PROVIDER="alloydb-ai"

gcloud config configurations activate argolis
gcloud auth application-default set-quota-project cs-poc-gvosjaln9q6gcudiayjqdzq
gcloud auth application-default login